DISCORD_TOKEN=discord_token
GCP_CREDENTIALS_PATH=KEY_PATH
GCP_PROJECT_ID=ID
GCP_LOCATION=global
GCP_MODEL=model(gemini3.1)
OPENAI_API_KEY=openai_api_key
DISCORD_GUILD_ID=your_discord_guild_id(いらないなら空白でも可)
BRAVE_API_KEY=brave_api_key